:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #050507;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
